<<<<<<< HEAD
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
 
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
=======
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
 
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
>>>>>>> e353a4eef980002142c1c326d87e19603413c524
